.block {
  display: block;
}

.hide {
  display: none;
}

.secret-btn {
  position: absolute;
  top: 50%;
  left: 20px;
  border: none;
  opacity: 0;
  background-color: transparent;
}

.secret-btn:hover {
  opacity: 1;
}
